modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PAYHERO_CHANNEL_ID = "3342"
PAYHERO_BASE = "https://backend.payhero.co.ke/api/v2"
BASE_URL = "https://c0dab337-68c6-4fd0-a45e-0f73dc59a088-00-kejybjy8e1ic.janeway.replit.dev"
